<h1>add-developer codedriven ---Reactive Forms</h1>


<form [formGroup]="myform"     (ngSubmit)="addDeveloper()">
  <div>
    <label>username</label>
    <input name="username"  formControlName="username"/>

    <div  *ngIf="isUsernameRequiredNotValid()">
      <small class="error">username is required</small>
    </div>


</div>

  <div>
    <label>Age</label>
    <input name="age" type="number"  formControlName="age"  />

    <div  *ngIf="isAgeRequiredNotValid()">
      <small class="error">age is required</small>
    </div>


  </div>

  <div>
    <label>Language</label>
    <input name="language" formControlName="language" />
    <div  *ngIf="(languageCtrl.touched || languageCtrl.dirty)
    && languageCtrl.errors!=null && languageCtrl.errors['required']">
      <small class="error">language is required</small>
    </div>




  </div>

  <button>Add Developer</button>


</form>


<div *ngIf="submitted">
  <h3>User Input</h3>
  {{ username }}
  <br />
  {{ age }}
  <br />
  {{ language }}
</div>

