<!--

<div>
Developer who name starting from mok
  {{ findDeveloperNameStartingFrom("mok")}}
</div>

<div>
  Developer whose name starting from "ped"
{{findDeveloperNameStartingFrom("ped")}}

</div>



<tester-details></tester-details>


<property-binding></property-binding>



<dev-details></dev-details>


<event-binding></event-binding>


<structural-demo></structural-demo>


<attribute-directive></attribute-directive>


<pipe-experiments></pipe-experiments>


<template-variable></template-variable>



<add-developer-template></add-developer-template>



-->

<a routerLink="/add-dev-codedriven">add Developer Code Driven</a>

<br>
<a routerLink="/list-devs">List Developers</a>

<br>

<a routerLink="/find-dev">Find Developer</a>


<router-outlet></router-outlet>
